.flows_SWRTs-iMac.local.json.backup
[{"type":"tab","id":"6f2de206.90d21c","label":"Sheet 1"},{"id":"207c3d6f.df83c2","type":"inject","name":"Every 5mins","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":164,"z":"6f2de206.90d21c","wires":[["e89c10b8.1763f"]]},{"id":"fbde2207.0421e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":559,"y":113,"z":"6f2de206.90d21c","wires":[]},{"id":"e89c10b8.1763f","type":"http request","name":"Nationalgrid Query","method":"GET","ret":"txt","url":"http://www.nationalgrid.com/ngrealtime/realtime/systemdata.aspx","x":271,"y":223,"z":"6f2de206.90d21c","wires":[["d3f769e4.2c0898"]]},{"id":"d3f769e4.2c0898","type":"function","name":"Split Fnc","func":" // does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\nif (~msg.payload.indexOf('<BR')) {\n\tvar words = msg.payload.split(\"div\")[1].split(\"<BR\");\n    if (words.length >= 3) {\n    \tmsg.payload = {};\n        msg.payload.demand = parseInt(words[0].split(\":\")[1]);\n        msg.payload.frequency = parseFloat(words[2].split(\":\")[1]);\n        msg.payload.time = words[1].split(\">\")[1];\n        \n        // Create the true/false signal based on the frequency.\n        msg2 = {};\n        msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n        \n        return [msg,msg2];\n    }\n}\nreturn null;","outputs":"2","x":414,"y":160,"z":"6f2de206.90d21c","wires":[["fbde2207.0421e"],["de20b7f2.21df48"]]},{"id":"de20b7f2.21df48","type":"debug","name":"","active":true,"console":"false","complete":"false","x":564,"y":215,"z":"6f2de206.90d21c","wires":[]},{"id":"6e4aeeb3.91b51","type":"http in","name":"test-ws","url":"/test-ws","method":"get","x":132,"y":333,"z":"6f2de206.90d21c","wires":[["e03e690a.1fc198"]]},{"id":"2fe3bbf4.d01c44","type":"http response","name":"HTTP Response","x":558,"y":381,"z":"6f2de206.90d21c","wires":[]},{"id":"93df63fd.6c20a","type":"function","name":"Inject","func":"msg.payload.msg = \"this is a test\";\nreturn msg;","outputs":1,"x":379,"y":331,"z":"6f2de206.90d21c","wires":[["2fe3bbf4.d01c44","833a3ddf.7cc5c"]]},{"id":"e03e690a.1fc198","type":"lower-case","name":"Lower","outputs":"2","x":261,"y":389,"z":"6f2de206.90d21c","wires":[["93df63fd.6c20a"],[]]},{"id":"833a3ddf.7cc5c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":538,"y":295,"z":"6f2de206.90d21c","wires":[]},{"id":"fb9542bd.046ac","type":"function","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n    case \"task3\":\n        context.data.task3 = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null && context.data.task3 != null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n    context.data=null;\n\treturn msg2;\n} else return msg;","outputs":1,"x":692,"y":660,"z":"6f2de206.90d21c","wires":[["f1c9275b.0e36d8"]]},{"id":"127fbd46.ed8043","type":"delay","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":434,"y":569,"z":"6f2de206.90d21c","wires":[["fb9542bd.046ac"]]},{"id":"f1c9275b.0e36d8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":899,"y":659,"z":"6f2de206.90d21c","wires":[]},{"id":"df74bf18.208b4","type":"delay","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":438,"y":665,"z":"6f2de206.90d21c","wires":[["fb9542bd.046ac"]]},{"id":"fe5cf70b.01a308","type":"delay","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":435,"y":749,"z":"6f2de206.90d21c","wires":[["fb9542bd.046ac"]]},{"id":"b101ef4e.4efe1","type":"function","name":"Task1","func":"msg.topic=\"task1\";\nmsg.payload=\"Task1's payload\"\nreturn msg;","outputs":1,"x":266,"y":569,"z":"6f2de206.90d21c","wires":[["127fbd46.ed8043"]]},{"id":"9a689259.65977","type":"function","name":"Task2","func":"msg.topic=\"task2\";\nmsg.payload=\"Task2's payload\"\nreturn msg;","outputs":1,"x":269,"y":664,"z":"6f2de206.90d21c","wires":[["df74bf18.208b4"]]},{"id":"f9629d7f.069d6","type":"function","name":"Task3","func":"msg.topic=\"task3\";\nmsg.payload=\"Task3's payload\"\nreturn msg;","outputs":1,"x":264,"y":748,"z":"6f2de206.90d21c","wires":[["fe5cf70b.01a308"]]},{"id":"1e965ba5.e169a4","type":"inject","name":"Start","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":100,"y":653,"z":"6f2de206.90d21c","wires":[["b101ef4e.4efe1","9a689259.65977","f9629d7f.069d6"]]}]