.flows_SWRTs-iMac-2.local.json.backup
[{"type":"tab","id":"8a3becbf.75c41","label":"Sheet 1"},{"id":"8c19cda4.73e63","type":"inject","name":"Every 5mins","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":164,"z":"8a3becbf.75c41","wires":[["1d31ae51.e2ce52"]]},{"id":"2ec51dd0.d13ae2","type":"debug","name":"","active":true,"console":"false","complete":"false","x":559,"y":113,"z":"8a3becbf.75c41","wires":[]},{"id":"1d31ae51.e2ce52","type":"http request","name":"Nationalgrid Query","method":"GET","ret":"txt","url":"http://www.nationalgrid.com/ngrealtime/realtime/systemdata.aspx","x":271,"y":223,"z":"8a3becbf.75c41","wires":[["fdec200a.0213e"]]},{"id":"fdec200a.0213e","type":"function","name":"Split Fnc","func":" // does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\nif (~msg.payload.indexOf('<BR')) {\n\tvar words = msg.payload.split(\"div\")[1].split(\"<BR\");\n    if (words.length >= 3) {\n    \tmsg.payload = {};\n        msg.payload.demand = parseInt(words[0].split(\":\")[1]);\n        msg.payload.frequency = parseFloat(words[2].split(\":\")[1]);\n        msg.payload.time = words[1].split(\">\")[1];\n        \n        // Create the true/false signal based on the frequency.\n        msg2 = {};\n        msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n        \n        return [msg,msg2];\n    }\n}\nreturn null;","outputs":"2","x":414,"y":160,"z":"8a3becbf.75c41","wires":[["2ec51dd0.d13ae2"],["ab6f266f.5490d8"]]},{"id":"ab6f266f.5490d8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":564,"y":215,"z":"8a3becbf.75c41","wires":[]},{"id":"498d459a.b672bc","type":"http in","name":"test-ws","url":"/test-ws","method":"get","x":75,"y":384,"z":"8a3becbf.75c41","wires":[["49d7d9ca.b62828"]]},{"id":"57c041d8.a83fc","type":"http response","name":"HTTP Response","x":624,"y":430,"z":"8a3becbf.75c41","wires":[]},{"id":"48bca8db.b74358","type":"function","name":"Inject","func":"msg.payload.msg = \"this is a test\";\nreturn msg;","outputs":1,"x":445,"y":380,"z":"8a3becbf.75c41","wires":[["57c041d8.a83fc","c0ec96f7.3f1368"]]},{"id":"c0ec96f7.3f1368","type":"debug","name":"","active":false,"console":"false","complete":"false","x":604,"y":344,"z":"8a3becbf.75c41","wires":[]},{"id":"816a3a8f.7e95c8","type":"function","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n    case \"task3\":\n        context.data.task3 = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null && context.data.task3 != null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n    context.data=null;\n\treturn msg2;\n} else return msg;","outputs":1,"x":692,"y":660,"z":"8a3becbf.75c41","wires":[["89ece758.761318"]]},{"id":"cc9fc9d0.336038","type":"delay","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":434,"y":569,"z":"8a3becbf.75c41","wires":[["816a3a8f.7e95c8"]]},{"id":"89ece758.761318","type":"debug","name":"","active":false,"console":"false","complete":"true","x":899,"y":659,"z":"8a3becbf.75c41","wires":[]},{"id":"3b3d4ef.fc4c2b2","type":"delay","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":438,"y":665,"z":"8a3becbf.75c41","wires":[["816a3a8f.7e95c8"]]},{"id":"aedc4887.5123b8","type":"delay","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":435,"y":749,"z":"8a3becbf.75c41","wires":[["816a3a8f.7e95c8"]]},{"id":"4b8c277d.b473d8","type":"function","name":"Task1","func":"msg.topic=\"task1\";\nmsg.payload=\"Task1's payload\"\nreturn msg;","outputs":1,"x":266,"y":569,"z":"8a3becbf.75c41","wires":[["cc9fc9d0.336038"]]},{"id":"ee43ab2f.11bc58","type":"function","name":"Task2","func":"msg.topic=\"task2\";\nmsg.payload=\"Task2's payload\"\nreturn msg;","outputs":1,"x":269,"y":664,"z":"8a3becbf.75c41","wires":[["3b3d4ef.fc4c2b2"]]},{"id":"c792bc8d.386d4","type":"function","name":"Task3","func":"msg.topic=\"task3\";\nmsg.payload=\"Task3's payload\"\nreturn msg;","outputs":1,"x":264,"y":748,"z":"8a3becbf.75c41","wires":[["aedc4887.5123b8"]]},{"id":"ee480665.11b7f8","type":"inject","name":"Start","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":100,"y":653,"z":"8a3becbf.75c41","wires":[["4b8c277d.b473d8","ee43ab2f.11bc58","c792bc8d.386d4"]]},{"id":"49d7d9ca.b62828","type":"lower-case","name":"Lowercase","outputs":1,"x":261,"y":380,"z":"8a3becbf.75c41","wires":[["48bca8db.b74358"]]},{"id":"c5f0f775.3a0f08","type":"http request","name":"Mobile People API","method":"GET","ret":"obj","url":"http://m.mit.edu/apis/people?q={{payload.name}}","x":464,"y":1009,"z":"8a3becbf.75c41","wires":[["f49444c6.0b6bb8"]]},{"id":"c170c9d7.3e8f38","type":"function","name":"Split Calls","func":"context.nr_msg = context.nr_msg || 0;\ncontext.nr_msg ++;\nif(msg.payload.name && Array.isArray(msg.payload.name)){\n\tvar msgs = [];\n\tvar old_msg = msg;\n\tmsg.payload.name.forEach(function(n){\n\t\tvar tmp_m = new Object();\n\t\ttmp_m.res = msg.res;\n\t\ttmp_m.rep = msg.rep;\n\t\ttmp_m.length = msg.payload.name.length;\n\t\ttmp_m.idContext = context.nr_msg;\n\t\ttmp_m.payload = {name: n};\n\t\tmsgs.push(tmp_m);\n\t});\n\treturn [msgs];\n}else{\n\tmsg.idContext = context.nr_msg;\n\tmsg.length = 1;\n\treturn [msg];\n}","outputs":"1","x":251,"y":924,"z":"8a3becbf.75c41","wires":[["c5f0f775.3a0f08"]]},{"id":"f49444c6.0b6bb8","type":"function","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\nvar d = context.data[msg.idContext] || {idContext: msg.idContext, list: [], count:0, length: msg.length};\nvar msg_all = null;\n\n\nif(d.count < d.length){\t\n\td.list = d.list.concat(msg.payload);\n\td.count++;\n\tcontext.data[msg.idContext] = d;\n}\nif(d.count == d.length){\n\t//msg_all = {res: msg.res, rep: msg.rep, payload:d.list};\n\tmsg_all = {res: msg.res, rep: msg.rep, payload: d.list.length};\n\tdelete context.data[msg.idContext];\n}\n\nreturn msg_all;\n","outputs":1,"x":731,"y":972,"z":"8a3becbf.75c41","wires":[["c4cf0712.3b30f8","6e3b2d2e.91c4d4"]]},{"id":"c4cf0712.3b30f8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":953,"y":894,"z":"8a3becbf.75c41","wires":[]},{"id":"6e3b2d2e.91c4d4","type":"http response","name":"","x":968,"y":1028,"z":"8a3becbf.75c41","wires":[]},{"id":"b57f6bdb.4a8098","type":"http in","name":"/people","url":"/people","method":"get","x":83,"y":997,"z":"8a3becbf.75c41","wires":[["c170c9d7.3e8f38"]]},{"id":"d4e5864f.2b1a78","type":"http request","name":"Mobile People API","method":"GET","ret":"obj","url":"http://m.mit.edu/apis/people?q={{payload.name}}","x":552,"y":1231,"z":"8a3becbf.75c41","wires":[["22aa4031.dd55c"]]},{"id":"4a54c33e.b5ab3c","type":"function","name":"Split Calls","func":"context.nr_msg = context.nr_msg || 0;\ncontext.nr_msg ++;\nif(msg.payload.name && Array.isArray(msg.payload.name)){\n\tvar msgs = [];\n\tmsgs[0] = [];\n\tmsgs[1] = [];\n\tvar old_msg = msg;\n\tvar i = 0;\n\tmsg.payload.name.forEach(function(n){\n\t\tvar tmp_m = new Object();\n\t\ttmp_m.res = msg.res;\n\t\ttmp_m.rep = msg.rep;\n\t\ttmp_m.length = msg.payload.name.length;\n\t\ttmp_m.idContext = context.nr_msg;\n\t\ttmp_m.payload = {name: n};\n\t\tmsgs[i%2].push(tmp_m);\n\t\ti++;\n\t});\n\treturn msgs;\n}else{\n\tmsg.idContext = context.nr_msg;\n\tmsg.length = 1;\n\tmsg.index = 1;\n\treturn [msg,null];\n}","outputs":"2","x":231,"y":1177,"z":"8a3becbf.75c41","wires":[["db792224.2486e"],["d4e5864f.2b1a78"]]},{"id":"22aa4031.dd55c","type":"function","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\nvar d = context.data[msg.idContext] || {idContext: msg.idContext, list: [], count:0, length: msg.length};\nvar msg_all = null;\n\n\nif(d.count < d.length){\t\n\td.list = d.list.concat(msg.payload);\n\td.count++;\n\tcontext.data[msg.idContext] = d;\n}\nif(d.count == d.length){\n\t//msg_all = {res: msg.res, rep: msg.rep, payload:d.list};\n\tmsg_all = {res: msg.res, rep: msg.rep, payload: d.list.length};\n\tdelete context.data[msg.idContext];\n}\n\nreturn msg_all;\n","outputs":1,"x":782,"y":1179,"z":"8a3becbf.75c41","wires":[["757f523c.8a80ac","401b9ed2.bfe46"]]},{"id":"757f523c.8a80ac","type":"debug","name":"","active":false,"console":"false","complete":"true","x":953,"y":1118,"z":"8a3becbf.75c41","wires":[]},{"id":"401b9ed2.bfe46","type":"http response","name":"","x":968,"y":1252,"z":"8a3becbf.75c41","wires":[]},{"id":"ded7285.f2128d8","type":"http in","name":"/people2","url":"/people2","method":"get","x":75,"y":1177,"z":"8a3becbf.75c41","wires":[["4a54c33e.b5ab3c"]]},{"id":"db792224.2486e","type":"http request","name":"Mobile People API","method":"GET","ret":"obj","url":"http://m.mit.edu/apis/people?q={{payload.name}}","x":554,"y":1129,"z":"8a3becbf.75c41","wires":[["22aa4031.dd55c"]]},{"id":"c71ed546.38e128","type":"http request","name":"Mobile People API","method":"GET","ret":"obj","url":"http://m.mit.edu/apis/people?q={{payload.name}}","x":388,"y":1450,"z":"8a3becbf.75c41","wires":[["3d697f7b.c2968"]]},{"id":"e1b7e825.1e4818","type":"function","name":"Split Calls","func":"context.nr_msg = context.nr_msg || 0;\ncontext.nr_msg ++;\nif(msg.payload.name && Array.isArray(msg.payload.name)){\n\tvar msgs = [];\n\tvar old_msg = msg;\n\tmsg.payload.name.forEach(function(n){\n\t\tvar tmp_m = new Object();\n\t\ttmp_m.res = msg.res;\n\t\ttmp_m.rep = msg.rep;\n\t\ttmp_m.length = msg.payload.name.length;\n\t\ttmp_m.idContext = context.nr_msg;\n\t\ttmp_m.payload = {name: n};\n\t\tmsgs.push(tmp_m);\n\t});\n\treturn [msgs];\n}else{\n\tmsg.idContext = context.nr_msg;\n\tmsg.length = 1;\n\treturn [msg];\n}","outputs":"1","x":212,"y":1450,"z":"8a3becbf.75c41","wires":[["c71ed546.38e128"]]},{"id":"3d697f7b.c2968","type":"function","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\nvar d = context.data[msg.idContext] || {idContext: msg.idContext, list: [], count:0, length: msg.length};\nvar msg_all = null;\n\n\nif(d.count < d.length){\t\n\td.list = d.list.concat(msg.payload);\n\td.count++;\n\tcontext.data[msg.idContext] = d;\n}\nif(d.count == d.length){\n\tmsg_all = {res: msg.res, rep: msg.rep, payload:d.list};\n\tdelete context.data[msg.idContext];\n}\n\nreturn msg_all;\n","outputs":1,"x":612,"y":1450,"z":"8a3becbf.75c41","wires":[["40dcb9b6.bf2348"]]},{"id":"5737fc67.a8c804","type":"debug","name":"","active":true,"console":"false","complete":"true","x":968,"y":1395,"z":"8a3becbf.75c41","wires":[]},{"id":"9487be28.6b784","type":"http response","name":"","x":974,"y":1479,"z":"8a3becbf.75c41","wires":[]},{"id":"d4000cc9.2bfff","type":"http in","name":"/people3","url":"/people3","method":"get","x":70,"y":1450,"z":"8a3becbf.75c41","wires":[["e1b7e825.1e4818"]]},{"id":"40dcb9b6.bf2348","type":"template","name":"Table Display","field":"payload","template":"<ol>\n{{#payload}}\n  <li>{{name}}</li>\n{{/payload}}\n</ol>","x":816,"y":1450,"z":"8a3becbf.75c41","wires":[["5737fc67.a8c804","9487be28.6b784"]]}]