flows_SWRTs-iMac.local.json
[{"type":"tab","id":"6f2de206.90d21c","label":"Sheet 1"},{"id":"207c3d6f.df83c2","type":"inject","name":"Every 5mins","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":164,"z":"6f2de206.90d21c","wires":[["e89c10b8.1763f"]]},{"id":"fbde2207.0421e","type":"debug","name":"","active":false,"console":"false","complete":"false","x":559,"y":113,"z":"6f2de206.90d21c","wires":[]},{"id":"e89c10b8.1763f","type":"http request","name":"Nationalgrid Query","method":"GET","ret":"txt","url":"http://www.nationalgrid.com/ngrealtime/realtime/systemdata.aspx","x":271,"y":223,"z":"6f2de206.90d21c","wires":[["d3f769e4.2c0898"]]},{"id":"d3f769e4.2c0898","type":"function","name":"Split Fnc","func":" // does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\nif (~msg.payload.indexOf('<BR')) {\n\tvar words = msg.payload.split(\"div\")[1].split(\"<BR\");\n    if (words.length >= 3) {\n    \tmsg.payload = {};\n        msg.payload.demand = parseInt(words[0].split(\":\")[1]);\n        msg.payload.frequency = parseFloat(words[2].split(\":\")[1]);\n        msg.payload.time = words[1].split(\">\")[1];\n        \n        // Create the true/false signal based on the frequency.\n        msg2 = {};\n        msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n        \n        return [msg,msg2];\n    }\n}\nreturn null;","outputs":"2","x":414,"y":160,"z":"6f2de206.90d21c","wires":[["fbde2207.0421e"],["de20b7f2.21df48"]]},{"id":"de20b7f2.21df48","type":"debug","name":"","active":false,"console":"false","complete":"false","x":564,"y":215,"z":"6f2de206.90d21c","wires":[]},{"id":"6e4aeeb3.91b51","type":"http in","name":"test-ws","url":"/test-ws","method":"get","x":75,"y":384,"z":"6f2de206.90d21c","wires":[["5fa17772.a05e88"]]},{"id":"2fe3bbf4.d01c44","type":"http response","name":"HTTP Response","x":624,"y":430,"z":"6f2de206.90d21c","wires":[]},{"id":"93df63fd.6c20a","type":"function","name":"Inject","func":"msg.payload.msg = \"this is a test\";\nreturn msg;","outputs":1,"x":445,"y":380,"z":"6f2de206.90d21c","wires":[["2fe3bbf4.d01c44","833a3ddf.7cc5c"]]},{"id":"833a3ddf.7cc5c","type":"debug","name":"","active":false,"console":"false","complete":"false","x":604,"y":344,"z":"6f2de206.90d21c","wires":[]},{"id":"fb9542bd.046ac","type":"function","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n    case \"task3\":\n        context.data.task3 = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null && context.data.task3 != null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n    context.data=null;\n\treturn msg2;\n} else return msg;","outputs":1,"x":692,"y":660,"z":"6f2de206.90d21c","wires":[["f1c9275b.0e36d8"]]},{"id":"127fbd46.ed8043","type":"delay","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":434,"y":569,"z":"6f2de206.90d21c","wires":[["fb9542bd.046ac"]]},{"id":"f1c9275b.0e36d8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":899,"y":659,"z":"6f2de206.90d21c","wires":[]},{"id":"df74bf18.208b4","type":"delay","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":438,"y":665,"z":"6f2de206.90d21c","wires":[["fb9542bd.046ac"]]},{"id":"fe5cf70b.01a308","type":"delay","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":435,"y":749,"z":"6f2de206.90d21c","wires":[["fb9542bd.046ac"]]},{"id":"b101ef4e.4efe1","type":"function","name":"Task1","func":"msg.topic=\"task1\";\nmsg.payload=\"Task1's payload\"\nreturn msg;","outputs":1,"x":266,"y":569,"z":"6f2de206.90d21c","wires":[["127fbd46.ed8043"]]},{"id":"9a689259.65977","type":"function","name":"Task2","func":"msg.topic=\"task2\";\nmsg.payload=\"Task2's payload\"\nreturn msg;","outputs":1,"x":269,"y":664,"z":"6f2de206.90d21c","wires":[["df74bf18.208b4"]]},{"id":"f9629d7f.069d6","type":"function","name":"Task3","func":"msg.topic=\"task3\";\nmsg.payload=\"Task3's payload\"\nreturn msg;","outputs":1,"x":264,"y":748,"z":"6f2de206.90d21c","wires":[["fe5cf70b.01a308"]]},{"id":"1e965ba5.e169a4","type":"inject","name":"Start","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":100,"y":653,"z":"6f2de206.90d21c","wires":[["b101ef4e.4efe1","9a689259.65977","f9629d7f.069d6"]]},{"id":"5fa17772.a05e88","type":"lower-case","name":"Lowercase","outputs":1,"x":261,"y":380,"z":"6f2de206.90d21c","wires":[["93df63fd.6c20a"]]},{"id":"28860d11.d779f2","type":"http request","name":"Mobile People API","method":"GET","ret":"obj","url":"http://m.mit.edu/apis/people?q={{payload.name}}","x":483,"y":968,"z":"6f2de206.90d21c","wires":[["ee22b534.11dd48"]]},{"id":"146360fa.eb9c9f","type":"function","name":"Split Calls","func":"context.nr_msg = context.nr_msg || 0;\ncontext.nr_msg ++;\nif(msg.payload.name && Array.isArray(msg.payload.name)){\n\tvar msgs = [];\n\tvar old_msg = msg;\n\tvar i = 1;\n\tmsg.payload.name.forEach(function(n){\n\t\tvar tmp_m = new Object();\n\t\ttmp_m.res = msg.res;\n\t\ttmp_m.rep = msg.rep;\n\t\ttmp_m.index = i%2;\n\t\ttmp_m.length = msg.payload.name.length;\n\t\ttmp_m.idContext = context.nr_msg;\n\t\ttmp_m.payload = {name: n};\n\t\tmsgs.push(tmp_m);\n\t\ti++;\n\t});\n\treturn [msgs];\n}else{\n\tmsg.idContext = context.nr_msg;\n\tmsg.length = 1;\n\tmsg.index = 1;\n\treturn [msg];\n}","outputs":"1","x":250,"y":948,"z":"6f2de206.90d21c","wires":[["28860d11.d779f2"]]},{"id":"ee22b534.11dd48","type":"function","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\nvar d = context.data[msg.idContext] || {idContext: msg.idContext, list: [], count:0, length: msg.length};\nvar msg_all = null;\n\n\nif(d.count < d.length){\t\n\td.list = d.list.concat(msg.payload);\n\td.count++;\n\tcontext.data[msg.idContext] = d;\n}\nif(d.count == d.length){\n\tmsg_all = {res: msg.res, rep: msg.rep, payload:d.list};\n\tdelete context.data[msg.idContext];\n}\n\nreturn msg_all;\n","outputs":1,"x":770,"y":934,"z":"6f2de206.90d21c","wires":[["db255a7f.24daa8","d20d2169.2df2e"]]},{"id":"db255a7f.24daa8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":952,"y":847,"z":"6f2de206.90d21c","wires":[]},{"id":"d20d2169.2df2e","type":"http response","name":"","x":978,"y":1012,"z":"6f2de206.90d21c","wires":[]},{"id":"36e4125.fc91bee","type":"http in","name":"/people","url":"/people","method":"get","x":65,"y":943,"z":"6f2de206.90d21c","wires":[["146360fa.eb9c9f"]]},{"id":"2609e730.d9f618","type":"http request","name":"Mobile People API","method":"GET","ret":"obj","url":"http://m.mit.edu/apis/people?q={{payload.name}}","x":537,"y":1243,"z":"6f2de206.90d21c","wires":[["63047ca1.9cfb84"]]},{"id":"e771e178.188e2","type":"function","name":"Split Calls","func":"context.nr_msg = context.nr_msg || 0;\ncontext.nr_msg ++;\nif(msg.payload.name && Array.isArray(msg.payload.name)){\n\tvar msgs = [];\n\tvar old_msg = msg;\n\tvar i = 1;\n\tmsg.payload.name.forEach(function(n){\n\t\tvar tmp_m = new Object();\n\t\ttmp_m.res = msg.res;\n\t\ttmp_m.rep = msg.rep;\n\t\ttmp_m.index = i%2;\n\t\ttmp_m.length = msg.payload.name.length;\n\t\ttmp_m.idContext = context.nr_msg;\n\t\ttmp_m.payload = {name: n};\n\t\tmsgs.push(tmp_m);\n\t\ti++;\n\t});\n\treturn [msgs];\n}else{\n\tmsg.idContext = context.nr_msg;\n\tmsg.length = 1;\n\tmsg.index = 1;\n\treturn [msg];\n}","outputs":"1","x":207,"y":1145,"z":"6f2de206.90d21c","wires":[["b79668d0.486998"]]},{"id":"63047ca1.9cfb84","type":"function","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\nvar d = context.data[msg.idContext] || {idContext: msg.idContext, list: [], count:0, length: msg.length};\nvar msg_all = null;\n\n\nif(d.count < d.length){\t\n\td.list = d.list.concat(msg.payload);\n\td.count++;\n\tcontext.data[msg.idContext] = d;\n}\nif(d.count == d.length){\n\tmsg_all = {res: msg.res, rep: msg.rep, payload:d.list};\n\tdelete context.data[msg.idContext];\n}\n\nreturn msg_all;\n","outputs":1,"x":769,"y":1184,"z":"6f2de206.90d21c","wires":[["e3642d39.1c9bd","2835e2af.d7ca1e"]]},{"id":"e3642d39.1c9bd","type":"debug","name":"","active":false,"console":"false","complete":"true","x":951,"y":1097,"z":"6f2de206.90d21c","wires":[]},{"id":"2835e2af.d7ca1e","type":"http response","name":"","x":977,"y":1262,"z":"6f2de206.90d21c","wires":[]},{"id":"3558349.fcaa7cc","type":"http in","name":"/people2","url":"/people2","method":"get","x":64,"y":1193,"z":"6f2de206.90d21c","wires":[["e771e178.188e2"]]},{"id":"b79668d0.486998","type":"switch","name":"","property":"index","rules":[{"t":"eq","v":"1"},{"t":"eq","v":"0"}],"checkall":"false","outputs":2,"x":363,"y":1193,"z":"6f2de206.90d21c","wires":[["e75e475f.18a1b8"],["2609e730.d9f618"]]},{"id":"e75e475f.18a1b8","type":"http request","name":"Mobile People API","method":"GET","ret":"obj","url":"http://m.mit.edu/apis/people?q={{payload.name}}","x":540,"y":1128,"z":"6f2de206.90d21c","wires":[["63047ca1.9cfb84"]]}]